.vscode/
venv-wsl/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
.metaflow/
wandb/
*.env
!e.env
*.ps1
.ipynb_checkpoints/
*.pt
static/uploads
mlruns/
output/
data/
checkpoints/
frontend/static/uploads
*.db
*.ipynb
